<app-usernav></app-usernav>
<br><br>
<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                
                <div class="text-center">
                    <img src="../../assets/download.jfif" width="100" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    <!-- <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span> -->
                    <h5 class="mt-2 mb-0">Alexender Schidmt</h5>
                    <span>Cardiology</span>
                    
                    <div class="px-4 mt-1">
                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    
                    </div>
                    
                     
                    
                    <div class="buttons">
                        
                        <button class="btn btn-outline-primary px-4" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Post Review</button>
                        
                        <button class="btn btn-primary px-4 ms-3">View Review</button>
                    </div>
                    
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>
<div class="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="exampleModal">
   
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add your Reviews</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <p>odal body text goes here.</p> -->
          <input type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>