.gradient-custom {
    background-image: url("https://cdn.pixabay.com/photo/2020/06/15/19/20/angel-5303107_1280.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: black;
    font-weight: bold;
}
    .text-uppercase{
        font-weight: bold;
    }
    .text{
        margin-bottom: 50px;
        font-size: larger;
    }
    .card {
        background-color: rgb(229, 238, 247);
        opacity: 0.65;
        color: black;
        height: 630px;
      }
      .custom-button {
        background-color: #343435;
        color: #ffe8e8; /* optional: set the text color to white */
      }
      #text-area{
        color: black;
      }
      .formlabel{
        color: rgb(0, 0, 0);
        font-display: black;
      }